<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlueSoft System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<header th:replace="fragments/header :: header"/>

<div class="container bg-white">
    <div class="card bg-dark text-white">
        <img class="card-img"
             src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Blue_globe_banner.svg/1280px-Blue_globe_banner.svg.png"
             alt="Card image">
        <div class="card-img-overlay">
            <h5 class="card-title">Pozdrowienia dla wszystkich uzytownikow programu!</h5>
            <p class="card-text">
                Niniejsza aplikacja spelnia wiekszosc wytycznych zawartych w dokumentacji projektu "Twoja nazwa
                projektu:-)" w wariancie 1. oraz 2.
                <br/>
                Dziekuje za czas poswiecony na sprawdzenie dzialania aplikacji oraz zapoznanie sie z kodem zrodlowym i
                dokumentacja.
                <br/>
                Mam nadzieje ze spelnila ona Panstwa oczekiwania chociaz w minimalnym stopniu.</p>
            <br/>
            <p class="card-text">
                Ewentualne dodatkowe pytania badz zgloszenia bledow prosze kierowac na adres mailowy:
                <br/>
                <b>and.palica@gmail.com</b>.
                <br/>
                <br/>
            <p class="card-text">Virtual High Five,<br/>
                <b>Andrzej Palica</b></p>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"/>

</body>
</html>