<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ContractManagementSystem</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">


</head>
<body>

<header th:replace="fragments/header :: header"/>

<div class="container">
    <form action="#" th:action="@{/contract/add}" th:object="${addContractDTO}" th:method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="systemName">System</label>
                <select class="custom-select" th:field="*{myContract.systemName}" id="systemName">
                    <option th:each="systemName : *{systemNameList}" th:value="${systemName}"
                            th:text="${systemName.name}"></option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="activeFrom">Aktywna od</label>
                <input type="date" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" id="activeFrom" th:field="*{myContract.activeFrom}"/>
            </div>
            <div class="form-group col-md-4">
                <label for="activeTo">Aktywna do</label>
                <input type="date" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm" id="activeTo" th:field="*{myContract.activeTo}"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="income">Wplywy</label>
                <div class="input-group">
                    <input type="number" class="form-control" aria-label="Small"
                           aria-describedby="inputGroup-sizing-sm" id="income" th:field="*{myContract.income}"
                           placeholder="0.00"/>
                    <div class="input-group-append">
                        <span class="input-group-text" id="inputGroup-sizing-sm">PLN netto</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="periodicity">Okresowosc</label>
                <select class="custom-select" th:field="*{myContract.periodicity}" id="periodicity">
                    <option th:each="periodicity : *{periodicityList}" th:value="${periodicity}"
                            th:text="${periodicity.name}"></option>
                </select>
            </div>
            <fieldset class="form-group col-md-3">
                <legend class="col-form-label">Czy umowa jest aktywna?</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="activeIsTrue"
                           th:value="true"
                           th:field="*{myContract.active}" checked>
                    <label class="form-check-label" for="activeIsTrue">
                        TAK
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="activeIsFalse"
                           th:value="false"
                           th:field="*{myContract.active}" checked>
                    <label class="form-check-label" for="activeIsFalse">
                        NIE
                    </label>
                </div>
            </fieldset>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Dodaj umowe</button>
    </form>
</div>

<footer th:replace="fragments/footer :: footer"/>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>