<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlueSoft System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container bg-white" th:fragment="header">
    <div class="jumbotron bg-dark"
         style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Blue_globe_banner.svg/1280px-Blue_globe_banner.svg.png)">
        <div class="container">
            <h5 class="display-4" style="color: ghostwhite">ContractManagementSystem</h5>
        </div>
    </div>
    <div>
        <nav class="navbar navbar-expand-sm navbar-light bg-white">
            <a class="navbar-brand">Menu >></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Start</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="contractMenu" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Umowy
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/contract/all}">Wszystkie umowy</a>
                            <a class="dropdown-item" th:href="@{/contract/active}">Aktywne umowy</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/contract/add}">Dodaj umowe</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="systemMenu" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Systemy
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/system/all}">Dostępne systemy</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/system/add}">Dodaj system</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">O autorze</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <hr class="divider"/>
</div>
</body>
</html>